.navigation-wrapper {
  height: 120px;
  background: rgb(117, 40, 147);
  background: linear-gradient(
    90deg,
    rgba(117, 40, 147, 1) 0%,
    rgba(82, 103, 207, 1) 50%,
    rgba(117, 40, 147, 1) 100%
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
}
